{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

<div class="datagrid-menu-header navbar-brand">
  {% if dgo.menu.showHeader %}
    <div class="datagrid-menu-num highlightable">
      <span class="highlight">{{ dgo.pagination.numberTotal }}</span> {{ dgm.trans('Einträge gesamt', dgo.tdFix) }}
    </div>
  {% endif %}
  {% if dgo.menu.showRange %}
    <div class="datagrid-menu-range highlightable text-nowrap small">
      {{ dgm.trans('Einträge', dgo.tdFix) }}
      <span class="highlight">{{ dgo.pagination.numberFrom }}</span>
      {{ dgm.trans('bis', dgo.tdFix) }}
      <span class="highlight">{{ dgo.pagination.numberThru }}</span>
    </div>
  {% endif %}
</div>
