{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}


{% if datagrid.bootstrap['version'] == 'v4' %}
  {% set classesPagination = dg.classesAndSize(datagrid, 'pagination') %}
  {% set classesPaginationItem = dg.classes(datagrid, 'page-item') %}
  {% set classesPaginationLink = dg.classes(datagrid, 'page-link') %}
  {% set classesFirst = dg.icon(datagrid, 'page-first') %}
  {% set classesPrev = dg.icon(datagrid, 'page-prev') %}
  {% set classesNext = dg.icon(datagrid, 'page-next') %}
  {% set classesLast = dg.icon(datagrid, 'page-last') %}
{% else %}
  {% set classesPagination = 'pagination' %}
  {% set classesPaginationItem = '' %}
  {% set classesPaginationLink = '' %}
  {% set classesFirst = 'glyphicon glyphicon-fast-backward' %}
  {% set classesPrev = 'glyphicon glyphicon-step-backward' %}
  {% set classesNext = 'glyphicon glyphicon-step-forward' %}
  {% set classesLast = 'glyphicon glyphicon-fast-forward' %}
{% endif %}


{% if pagination.pageMax > 1 %}
  <div class="datagrid-pagination">
    <ul class="{{ classesPagination }}">

      {% if pagination.linkFirst is not null and pagination.showFirst %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dg.path(pagination.linkFirst) }}" title="{{ 'Erste Seite'|trans }}"><span class="{{ classesFirst }}"></span></a>
        </li>
      {% elseif pagination.showFirst %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesFirst }}"></span></span>
        </li>
      {% endif %}

      {% if pagination.linkPrev is not null and pagination.showPrev %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dg.path(pagination.linkPrev) }}" title="{{ 'Vorherige Seite'|trans }}"><span class="{{ classesPrev }}"></span></a>
        </li>
      {% elseif pagination.showPrev %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesPrev }}"></span></span>
        </li>
      {% endif %}


      {% for link in pagination.links %}
        {% if link.value == pagination.pageFrom and link.value > 1 and pagination.showSep %}
          <li class="{{ classesPaginationItem }} disabled">
            <span class="{{ classesPaginationLink }}">...</span>
          </li>
        {% endif %}

        {% if link.value != pagination.pageCurrent %}
          <li class="{{ classesPaginationItem }}">
            <a class="{{ classesPaginationLink }}" href="{{ dg.path(link) }}">{{ link.value }}</a>
          </li>
        {% else %}
          <li class="{{ classesPaginationItem }} active">
            <span class="{{ classesPaginationLink }}">{{ link.value }}</span>
          </li>
        {% endif %}

        {% if link.value == pagination.pageThru and link.value < pagination.pageMax and pagination.showSep %}
          <li class="{{ classesPaginationItem }} disabled">
            <span class="{{ classesPaginationLink }}">...</span>
          </li>
        {% endif %}
      {% endfor %}


      {% if pagination.linkNext is not null and pagination.showNext %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dg.path(pagination.linkNext) }}" title="{{ 'Nächste Seite'|trans }}"><span class="{{ classesNext }}"></span></a>
        </li>
      {% elseif pagination.showNext %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesNext }}"></span></span>
        </li>
      {% endif %}

      {% if pagination.linkLast is not null and pagination.showLast %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dg.path(pagination.linkLast) }}" title="{{ 'Letzte Seite'|trans }}"><span class="{{ classesLast }}"></span></a>
        </li>
      {% elseif pagination.showLast %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesLast }}"></span></span>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
