{% trans_default_domain datagrid.transDomainFixed %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}


{% if datagrid.bootstrap['version'] == 'v4' %}

  {% set options = searchField['options']|default(null) %}

  {% set optionsMode = options['mode']|default('radio') %}
  {% set optionsValues = options['values']|default([]) %}
  {% set optionsChecked = datagrid.menu.searchValue(searchKey ~ '-options') %}

  {% set attributes = attributes(options['attr']|default([])).add({
    'data-toggle': 'buttons',
  }).addClasses('btn-group btn-group-toggle input-group-prepend') %}

  {% if options and (optionsValues is iterable) and (optionsValues|length > 0) %}
    {% if options|length > 0 %}
      <div {{ attributes|raw}}>
        {% for optionKey, optionData in optionsValues %}
          {% set optionAttributes = attributes(optionData['attr']|default([])).add({
            'type': optionsMode,
            'name': (optionsMode == 'radio') ? searchKey ~ '-options[]' : searchKey ~ '-options[' ~ optionKey ~ ']',
            'id': searchKey ~ '-option-' ~ optionKey,
            'value': optionData['value']|default(optionKey),
            'autocomplete': 'off'
          }) %}
          {% if optionsChecked is null %}
            {% set optionAttributes = optionAttributes.set('checked', optionData['default']|default(false)) %}
          {% else %}
            {% set optionAttributes = optionAttributes.set('checked', optionAttributes.get('value') in datagrid.menu.searchValue(searchKey ~ '-options')) %}
          {% endif %}
          <label class="btn btn-input-group-addon" title="{{ dg.trans(optionData['title']|default(null), datagrid.transDomainVariable) }}">
            <input {{ optionAttributes|raw }}>
            {%- if optionData['icon']|default(null) -%}<i class="{{ dg.trans(optionData['icon'], datagrid.transDomainVariable) }}"></i>{%- endif -%}
            {{- dg.trans(optionData['content']|default(null), datagrid.transDomainVariable) -}}
          </label>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

{% endif %}
