{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% if dgo.menu.showMaxEntriesSelection %}
  <div class="{{ datagrid_actions_classes ~ dgm.classesAndSize(dgo, 'btn_group') ~ ' ' ~ classes|default('') }}" role="group"  data-action="max-entries">
    <button class="dropdown-toggle {{ dgm.classes(dgo, 'btn') }}" type="button" id="{{ datagrid_id~'-maxentries' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ dgo.maxEntriesPerPage }} {{ dgm.trans('Einträge', dgo.tdFix) }}
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ datagrid_id~'-maxentries' }}">
      {% for link in dgo.menu.links -%}
        <li><a class="dropdown-item" href="{{ dgm.path(link) }}" title="{{ link.value }} {{ dgm.trans('Einträge anzeigen', dgo.tdFix) }}">{{ link.value }} {{ dgm.trans('Einträge', dgo.tdFix) }}</a></li>
      {%- endfor %}
    </ul>
  </div>
{% endif %}
