{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% if dgo.menu.showExtended and dgo.menu.routeExtended %}
  <a class="{{ datagrid_actions_classes ~ dgm.classesAndSize(dgo, 'btn') ~ ' ' ~ classes|default('') }}" href="{{ dgm.path(dgo.menu.routeExtended) }}" title="{{ dgm.trans('Erweiterte Felder ein-/ausblenden', dgo.tdFix) }}">
    <span class="{{ dgo.extended ? dgm.icon(dgo, 'compress') : dgm.icon(dgo, 'expand') }}"></span> {{ dgm.trans(dgo.extended ? 'Weniger' : 'Mehr', dgo.tdFix) }}
  </a>
{% endif %}
