{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}


{% if datagrid.bootstrap['version'] == 'v4' %}
  {% set classesLink = 'datagrid-table-link text-nowrap' %}
  {% set classesSortAsc = dg.icon(datagrid, 'sort-asc') %}
  {% set classesSortDesc = dg.icon(datagrid, 'sort-desc') %}
{% else %}
  {% set classesLink = 'datagrid-table-link' %}
  {% set classesSortAsc = 'glyphicon glyphicon-sort-by-attributes' %}
  {% set classesSortDesc = 'glyphicon glyphicon-sort-by-attributes-alt' %}
{% endif %}


{% if cell.theadLinks|length > 0 %}
  {%- if cell.theadLinks|length > 1 and cell.labelPos == 'before' -%}
    {{ dg.trans(cell.label, transDomain) }}
  {%- endif -%}
  {%- for sortKey, theadLink in cell.theadLinks -%}
    <a class="{{ classesLink }}" href="{{ dg.path(theadLink) }}" title="{{ 'Sortieren nach:'|trans }} {{ dg.trans(cell.getSortKeyText(sortKey), transDomain) }}">
      {{- dg.trans(cell.getSortKeyLabel(sortKey), transDomain) -}}
      {%- if datagrid.isSorted(sortKey) -%}
        {%- if datagrid.getSortationDirection(sortKey) == 'asc' -%}
          &nbsp;<span class="{{ classesSortAsc }}"></span>
        {%- endif -%}
        {%- if datagrid.getSortationDirection(sortKey) == 'desc' -%}
          &nbsp;<span class="{{ classesSortDesc }}"></span>
        {%- endif -%}
      {%- endif -%}
    </a>
    {%- if not loop.last -%}
      {{ cell.getSortKeySep|raw }}
    {%- endif -%}
  {%- endfor -%}
  {%- if cell.theadLinks|length > 1 and cell.labelPos == 'after' -%}
    {{ dg.trans(cell.label, transDomain) }}
  {%- endif -%}
{% else %}
  {{ dg.trans(cell.label, transDomain) }}
{% endif %}
