{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% set classesLink = 'datagrid-table-link text-nowrap' %}
{% set classesSortAsc = dgm.icon(dgo, 'sort-asc') %}
{% set classesSortDesc = dgm.icon(dgo, 'sort-desc') %}

{% set tdTableCell = dgo.tdTableCell(cell) %}

{% if cell.theadLinks|length > 0 %}
  {%- if (cell.theadLinks|length > 1) and (cell.labelPos == 'before') -%}
    {{ dgm.trans(cell.label, tdTableCell) }}
  {%- endif -%}
  {%- for sortKey, theadLink in cell.theadLinks -%}
    <a class="{{ classesLink }}" href="{{ dgm.path(theadLink) }}" title="{{ dgm.trans('Sortieren nach:', dgo.tdFix) }} {{ dgm.trans(cell.getSortKeyText(sortKey), tdTableCell) }}">
      {{- dgm.trans(cell.getSortKeyLabel(sortKey), tdTableCell) -}}
      {%- if dgo.isSorted(sortKey) -%}
        {%- if dgo.getSortationDirection(sortKey) == 'asc' -%}
          &nbsp;<span class="{{ classesSortAsc }}"></span>
        {%- endif -%}
        {%- if dgo.getSortationDirection(sortKey) == 'desc' -%}
          &nbsp;<span class="{{ classesSortDesc }}"></span>
        {%- endif -%}
      {%- endif -%}
    </a>
    {%- if not loop.last -%}
      {{ cell.getSortKeySep|raw }}
    {%- endif -%}
  {%- endfor -%}
  {%- if (cell.theadLinks|length > 1) and (cell.labelPos == 'after') -%}
    {{ dgm.trans(cell.label, tdTableCell) }}
  {%- endif -%}
{% else %}
  {{ dgm.trans(cell.label, tdTableCell) }}
{% endif %}
