{% import 'HBMDatagridBundle::macros.html.twig' as dgMacros %}

{% if cell.theadLink is not null %}
	<a href="{{ dgMacros.dgPath(cell.theadLink) }}" title="{{ 'Sortieren nach: '|trans }} {{ cell.label|trans }}">
		{{ cell.label|trans|raw }}
	{% if datagrid.isSorted(cell.getSortKey()) %}
		{% if datagrid.getSortationDirection(cell.sortKey) == 'asc' %}
		<span class="glyphicon glyphicon glyphicon-sort-by-attributes"></span>
		{% endif %}
		{% if datagrid.getSortationDirection(cell.sortKey) == 'desc' %}
		<span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
		{% endif %}
	{% endif %}
	</a>
{% else %}
	{{ cell.label|trans|raw }}
{% endif %}
