{% import 'HBMDatagridBundle::macros.html.twig' as dgMacros %}

{% if cell.theadLinks|length > 0 %}
  {%- if cell.theadLinks|length > 1 and cell.labelPos == 'before' -%}
    {{ dgMacros.dgTrans(cell.label)|raw }}
  {%- endif -%}
  {%- for sortKey, theadLink in cell.theadLinks -%}
    <a class="datagrid-table-link" href="{{ dgMacros.dgPath(theadLink) }}" title="{{ 'Sortieren nach: '|trans }} {{ dgMacros.dgTrans(cell.getSortKeyLabel(sortKey)) }}">
      {{- dgMacros.dgTrans(cell.getSortKeyLabel(sortKey))|raw -}}
      {%- if datagrid.isSorted(sortKey) -%}
        {%- if datagrid.getSortationDirection(sortKey) == 'asc' -%}
          &nbsp;<span class="glyphicon glyphicon glyphicon-sort-by-attributes"></span>
        {%- endif -%}
        {%- if datagrid.getSortationDirection(sortKey) == 'desc' -%}
          &nbsp;<span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
        {%- endif -%}
      {%- endif -%}
    </a>
    {%- if not loop.last -%}
      {{ cell.getSortKeySep|raw }}
    {%- endif -%}
  {%- endfor -%}
  {%- if cell.theadLinks|length > 1 and cell.labelPos == 'after' -%}
    {{ dgMacros.dgTrans(cell.label)|raw }}
  {%- endif -%}
{% else %}
  {{ dgMacros.dgTrans(cell.label)|raw }}
{% endif %}
