{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dg %}


{% set classesSortAsc = 'glyphicon glyphicon-sort-by-attributes' %}
{% set classesSortDesc = 'glyphicon glyphicon-sort-by-attributes-alt' %}
{% if datagrid.bootstrap == 'v4' %}
  {% set classesSortAsc = 'fa fa-sort-amount-asc' %}
  {% set classesSortDesc = 'fa fa-sort-amount-desc' %}
{% endif %}


{% if cell.theadLinks|length > 0 %}
  {%- if cell.theadLinks|length > 1 and cell.labelPos == 'before' -%}
    {{ dg.trans(cell.label, transDomain)|raw }}
  {%- endif -%}
  {%- for sortKey, theadLink in cell.theadLinks -%}
    <a class="datagrid-table-link" href="{{ dg.path(theadLink) }}" title="{{ 'Sortieren nach:'|trans }} {{ dg.trans(cell.getSortKeyLabel(sortKey), transDomain) }}">
      {{- dg.trans(cell.getSortKeyLabel(sortKey), transDomain)|raw -}}
      {%- if datagrid.isSorted(sortKey) -%}
        {%- if datagrid.getSortationDirection(sortKey) == 'asc' -%}
          &nbsp;<span class="{{ classesSortAsc }}"></span>
        {%- endif -%}
        {%- if datagrid.getSortationDirection(sortKey) == 'desc' -%}
          &nbsp;<span class="{{ classesSortDesc }}"></span>
        {%- endif -%}
      {%- endif -%}
    </a>
    {%- if not loop.last -%}
      {{ cell.getSortKeySep|raw }}
    {%- endif -%}
  {%- endfor -%}
  {%- if cell.theadLinks|length > 1 and cell.labelPos == 'after' -%}
    {{ dg.trans(cell.label, transDomain)|raw }}
  {%- endif -%}
{% else %}
  {{ dg.trans(cell.label, transDomain)|raw }}
{% endif %}
