{% trans_default_domain dgo.tdFix %}

{% import '@HBMDatagrid/macros.html.twig' as dgm %}

{% set classesPagination = dgm.classesAndSize(dgo, 'pagination') %}
{% set classesPaginationItem = dgm.classes(dgo, 'page-item') %}
{% set classesPaginationLink = dgm.classes(dgo, 'page-link') %}
{% set classesFirst = dgm.icon(dgo, 'page-first') %}
{% set classesPrev = dgm.icon(dgo, 'page-prev') %}
{% set classesNext = dgm.icon(dgo, 'page-next') %}
{% set classesLast = dgm.icon(dgo, 'page-last') %}

{% if pagination.pageMax > 1 %}
  <div class="datagrid-pagination">
    <ul class="{{ classesPagination }}">

      {% if pagination.linkFirst is not null and pagination.showFirst %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dgm.path(pagination.linkFirst) }}" title="{{ dgm.trans('Erste Seite', dgo.tdFix) }}"><span class="{{ classesFirst }}"></span></a>
        </li>
      {% elseif pagination.showFirst %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesFirst }}"></span></span>
        </li>
      {% endif %}

      {% if pagination.linkPrev is not null and pagination.showPrev %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dgm.path(pagination.linkPrev) }}" title="{{ dgm.trans('Vorherige Seite', dgo.tdFix) }}"><span class="{{ classesPrev }}"></span></a>
        </li>
      {% elseif pagination.showPrev %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesPrev }}"></span></span>
        </li>
      {% endif %}


      {% for link in pagination.links %}
        {% if link.value == pagination.pageFrom and link.value > 1 and pagination.showSep %}
          <li class="{{ classesPaginationItem }} disabled">
            <span class="{{ classesPaginationLink }}">...</span>
          </li>
        {% endif %}

        {% if link.value != pagination.pageCurrent %}
          <li class="{{ classesPaginationItem }}">
            <a class="{{ classesPaginationLink }}" href="{{ dgm.path(link) }}">{{ link.value }}</a>
          </li>
        {% else %}
          <li class="{{ classesPaginationItem }} active">
            <span class="{{ classesPaginationLink }}">{{ link.value }}</span>
          </li>
        {% endif %}

        {% if link.value == pagination.pageThru and link.value < pagination.pageMax and pagination.showSep %}
          <li class="{{ classesPaginationItem }} disabled">
            <span class="{{ classesPaginationLink }}">...</span>
          </li>
        {% endif %}
      {% endfor %}


      {% if pagination.linkNext is not null and pagination.showNext %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dgm.path(pagination.linkNext) }}" title="{{ dgm.trans('Nächste Seite', dgo.tdFix) }}"><span class="{{ classesNext }}"></span></a>
        </li>
      {% elseif pagination.showNext %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesNext }}"></span></span>
        </li>
      {% endif %}

      {% if pagination.linkLast is not null and pagination.showLast %}
        <li class="{{ classesPaginationItem }}">
          <a class="{{ classesPaginationLink }}" href="{{ dgm.path(pagination.linkLast) }}" title="{{ dgm.trans('Letzte Seite', dgo.tdFix) }}"><span class="{{ classesLast }}"></span></a>
        </li>
      {% elseif pagination.showLast %}
        <li class="{{ classesPaginationItem }} disabled">
          <span class="{{ classesPaginationLink }}"><span class="{{ classesLast }}"></span></span>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
