{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dg %}

{% if datagrid.menu.links|length > 0 %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="{{ 'Anzahl der Einträge wählen'|trans }}">
      {{ datagrid.maxEntriesPerPage }}
      <span class="visible-xs-inline">{{ 'Einträge anzeigen'|trans }}</span>
      <span class="visible-md-inline visible-lg-inline">{{ 'Einträge'|trans }}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {% for link in datagrid.menu.links -%}
        <li><a href="{{ dg.path(link) }}" title="{{ link.value }}{{ ' Einträge anzeigen'|trans }}">{{ link.value }} {{ 'Einträge'|trans }}</a></li>
      {%- endfor %}
    </ul>
  </li>
{% endif %}
