{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}

{% set datagrid_id = 'datagrid-'~random() %}

{% if datagrid.menu.show %}
  <div class="datagrid-menu {{ dg.classes(datagrid, 'navbar') }}">
    <div class="datagrid-menu-header navbar-brand">
      {% if datagrid.menu.showHeader %}
        <div class="datagrid-menu-num highlightable">
          <span class="highlight">{{ datagrid.pagination.numberTotal }}</span> {{ 'Einträge gesamt'|trans }}
        </div>
      {% endif %}
      {% if datagrid.menu.showRange %}
        <div class="datagrid-menu-range highlightable text-nowrap small">
          {{ 'Einträge'|trans }}
          <span class="highlight">{{ datagrid.pagination.numberFrom }}</span>
          {{ 'bis'|trans }}
          <span class="highlight">{{ datagrid.pagination.numberThru }}</span>
        </div>
      {% endif %}
    </div>

    <button class="datagrid-menu-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ datagrid_id~'-navbar' }}" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle datagrid navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="{{ datagrid_id~'-navbar' }}">
      {% if datagrid.menu.showSearch and datagrid.menu.searchFields|length > 0 %}
        <form class="datagrid-menu-search form-inline justify-content-center" role="search" action="{{ dg.path(datagrid.menu.routeSearch) }}" method="post">

          {% for searchKey, searchField in datagrid.menu.searchFields if searchField['extended'] is not defined or not searchField['extended'] or datagrid.extended %}
            {% if searchField['type'] == 'number' %}
              {% include '@HBMDatagrid/Menu/search-fields/number.html.twig' with { 'datagrid': datagrid, 'searchKey': searchKey, 'searchField': searchField, 'transDomain': transDomain } only %}
            {% elseif searchField['type'] == 'select' %}
              {% include '@HBMDatagrid/Menu/search-fields/select.html.twig' with { 'datagrid': datagrid, 'searchKey': searchKey, 'searchField': searchField, 'transDomain': transDomain } only %}
            {% else %}
              {% include '@HBMDatagrid/Menu/search-fields/text.html.twig' with { 'datagrid': datagrid, 'searchKey': searchKey, 'searchField': searchField, 'transDomain': transDomain } only %}
            {% endif %}
          {% endfor %}

          <button type="submit" class="{{ dg.classesAndSize(datagrid, 'btn') }}"> <span class="{{ dg.icon(datagrid, 'search') }}"></span> {{ 'Suchen'|trans }}</button>
        </form>
      {% endif %}

      {% set datagrid_actions_classes = 'my-1 mx-1 ' %}
      <div class="datagrid-menu-actions d-flex flex-wrap justify-content-center align-items-center ml-sm-3 mt-3 mt-sm-0">
        {% if datagrid.menu.showExtended and datagrid.menu.routeExtended %}
          <a class="{{ datagrid_actions_classes ~ dg.classesAndSize(datagrid, 'btn') }}" href="{{ dg.path(datagrid.menu.routeExtended) }}" title="{{ 'Erweiterte Felder ein-/ausblenden'|trans }}">
            <span class="{{ datagrid.extended ? dg.icon(datagrid, 'compress') : dg.icon(datagrid, 'expand') }}"></span> {{ datagrid.extended?'Weniger'|trans:'Mehr'|trans }}
          </a>
        {% endif %}

        {% if datagrid.menu.showReset and datagrid.menu.routeReset %}
          <a class="{{ datagrid_actions_classes ~ dg.classesAndSize(datagrid, 'btn') }}" href="{{ dg.path(datagrid.menu.routeReset) }}" title="{{ 'Sortierung/Filter zurücksetzen'|trans }}">
            <span class="{{ dg.icon(datagrid, 'reset') }}"></span> {{ 'Reset'|trans }}
          </a>
        {% endif %}

        {% if datagrid.menu.showExport %}
          <div class="{{ datagrid_actions_classes ~ dg.classesAndSize(datagrid, 'btn-group') }}" role="group">
            <button class="dropdown-toggle {{ dg.classes(datagrid, 'btn') }}" type="button" id="{{ datagrid_id~'-export' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'Export'|trans }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="{{ datagrid_id~'-export' }}">
              {% for export in datagrid.menu.exportsSelection %}
                <li>
                  <a class="dropdown-item" href="#" onclick="document.getElementById('{{ datagrid_id~'-export-'~export }}').submit(); return false;" title="{{ 'Daten als :type exportieren'|trans({':type': export}) }}">{{ ':ext-Export'|trans({':ext': export|upper}) }}</a>
                  <form id="{{ datagrid_id~'-export-'~export }}" action="{{ dg.path(datagrid.menu.route) }}" method="post">
                    <input type="hidden" name="export-type" value="{{ export }}" />
                  </form>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if datagrid.menu.showMaxEntriesSelection %}
          <div class="{{ datagrid_actions_classes ~ dg.classesAndSize(datagrid, 'btn-group') }}">
            <button class="dropdown-toggle {{ dg.classes(datagrid, 'btn') }}" type="button" id="{{ datagrid_id~'-maxentries' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ datagrid.maxEntriesPerPage }} {{ 'Einträge'|trans }}
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ datagrid_id~'-maxentries' }}">
              {% for link in datagrid.menu.links -%}
                <li><a class="dropdown-item" href="{{ dg.path(link) }}" title="{{ link.value }} {{ 'Einträge anzeigen'|trans }}">{{ link.value }} {{ 'Einträge'|trans }}</a></li>
              {%- endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
