{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dgMacros %}

<div class="input-group input-group-sm">
  <span class="input-group-addon">{{ dgMacros.dgTrans(searchField['label']) }}</span>
  <select class="form-control" name="{{ searchKey }}">
    <option></option>
    {% set keys = datagrid.menu.searchValue(searchKey) %}
    {% if searchField['values'] is defined %}
      {% for key, value in searchField['values'] %}
        <option value="{{ key }}" {% if (keys is iterable and key in keys) or (keys is not iterable and key == keys) %}selected{% endif %}>{{ value }}</option>
      {% endfor %}
    {% endif %}
    {% if searchField['optgroups'] is defined %}
      {% for optgroupLabel, optgroupValues in searchField['optgroups'] %}
        <optgroup label="{{ optgroupLabel }}">
          {% for key, value in optgroupValues %}
            <option value="{{ key }}" {% if (keys is iterable and key in keys) or (keys is not iterable and key == keys) %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    {% endif %}
  </select>
</div>
