{% trans_default_domain "HBMDatagridBundle" %}

{% import 'HBMDatagridBundle::macros.html.twig' as dg %}

{% set classes = 'input-group input-group-sm' %}
{% if datagrid.bootstrap == 'v4' %}
  {% set classes = 'input-group input-group-sm my-1 mr-sm-2' %}
{% endif %}

<div class="{{ classes }}">
  <span class="input-group-addon">{{ dg.trans(searchField['label'], transDomain) }}</span>
  <select class="form-control" name="{{ searchKey }}" title="{{ dg.trans(searchField['label'], transDomain) }}">
    <option></option>
    {% set keys = datagrid.menu.searchValue(searchKey) %}
    {% if searchField['values'] is defined %}
      {% for key, value in searchField['values'] %}
        <option value="{{ key }}" {% if (keys is iterable and key in keys) or (keys is not iterable and key == keys) %}selected{% endif %}>{{ value }}</option>
      {% endfor %}
    {% endif %}
    {% if searchField['optgroups'] is defined %}
      {% for optgroupLabel, optgroupValues in searchField['optgroups'] %}
        <optgroup label="{{ optgroupLabel }}">
          {% for key, value in optgroupValues %}
            <option value="{{ key }}" {% if (keys is iterable and key in keys) or (keys is not iterable and key == keys) %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    {% endif %}
  </select>
</div>
