{% trans_default_domain 'HBMDatagridBundle' %}

{% import '@HBMDatagrid/macros.html.twig' as dg %}


{% if datagrid.bootstrap['version'] == 'v4' %}
  {% set classesGroup = 'my-1 mr-sm-2 ' ~ dg.classesAndSize(datagrid, 'input-group') %}
  {% set classesAddon = 'input-group-prepend' %}
{% else %}
  {% set classesGroup = 'input-group input-group-sm' %}
  {% set classesAddon = 'input-group-addon' %}
{% endif %}


<div class="{{ classesGroup }}">
  <span class="{{ classesAddon }}"><span class="input-group-text">abc</span></span>
  <input type="text" class="form-control" placeholder="{{ dg.trans(searchField['label'], transDomain) }}" name="{{ searchKey }}" value="{{ datagrid.menu.searchValue(searchKey) }}">
</div>
